<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Order Management System</title>
    
</head>
<body>
    <main>
        <div class="container">
            <img class= "logo" src="/images/logo.png">
            <h1>Welcome to the Arby's Order Management System</h1>
            <h2>Manage Your Orders</h2>
            <p>Use the links below to navigate through the system. You can view all orders or completed orders</p>
        </div>
        <!-- links to navigate to the all orders and compeleted orders page-->
    <div class ="orders-container">
        <div class ="orders-box">
        <a href="/all-orders">View All Orders</a>
    </div>
    <div class ="orders-box">
        <a href="/completed-orders">View Completed Orders</a>
    </div>
    </div>
    </main>
</body>
</html>
